<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>Edit | TinyApp</title>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main style="margin: 1em">
      <h3>Edit TinyURL</h3>

      <!-- Short URL -->
      <div>Short URL: <%= url.shortURL %></div>

      <!-- Long URL -->
      <div>
        Long URL:
        <a href="<%= url.longURL %>" target="_blank"><%= url.longURL %></a>
      </div>

      <!-- New long URL -->
      <form
        method="POST"
        action="/urls/<%= url.shortURL %>?_method=PUT"
        class="form-inline"
      >
        <div class="form-group mb-2">
          <label for="longURL">New long URL:</label>
          <input
            class="form-control"
            type="text"
            name="longURL"
            value="<%= url.longURL %>"
            style="width: 300px; margin: 1em"
          />
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>

      <hr />

      <!-- Analytics -->
      <h3>Analytics</h3>

      <div>Date created: <%= url.dateCreated %></div>
      <div>Number of visits: <%= url.visitCount %></div>
      <div>Number of unique visits: <%= url.uniqueVisitCount %></div>
      <hr />

      <!-- Log -->
      <h3>Log</h3>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Visitor ID</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <% for (const {id, date} of url.logs) { %>
          <tr>
            <td><%= id %></td>
            <td><%= date %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
